<article class="card column m-4">
    <div class="card-header">
        <a href="/post/{{id}}">
            <h3 class="card-header-title">{{title}}</h3>
        </a>
    </div>
    <div class="card-content">
        <div class="content">
            {{contents}}
        </div>
    </div>
    <div class="card-footer p-2">
        <p>Created by <strong>{{user.username}}</strong> on {{format_date created_at}}
            |
            <a href="/post/{{id}}">{{format_plural "Comment" comments.length}} {{comments.length}}</a>
        </p>
    </div>
</article>